# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: setup-docker
        uses: docker/setup-docker-action@v4
        with:
          channel: stable
          
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install
        run: npm ci
      
      - name: Build
        run: npm run build

      - name: Test
        run: npm test
